<!DOCTYPE html>
<html>
<head>
  <title>Gradesheet</title>
   <link rel="stylesheet" href="css/table.css">
   <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/logo.jpg"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->

</head>
<body>
  <a href="http://www.cse.iitd.ac.in/devclub/" target="_blank"> <img src="images/logo.jpg" align = "left" style="border-radius:10px" height="100" width="200"/> </a>
  <center style="display: inline-block;"><h1 style="display:inline-block;"> GradeSheet </h1></center>
  <a href><button align="right" type="button" id="btnhome">Logout</button></a>
  <!-- <p align="center" style="font-family: 'Open Sans', sans-serif;color:white;">Checkout <a style="color: black;" href="http://study.devclub.cse.iitd.ac.in/">StudyPortal</a> -->
  <br><br><br><br>
    <div class="aa_htmlTable">
    {{ grades }}
    </div>
    

<h3 >
  <a id="form-link" href="https://docs.google.com/forms/d/e/1FAIpQLScPwizIa6I62uZWx5IX3VxKFJKm8x-IH2j17eGkPl_woJMTeA/viewform" target="_blank">Report a Bug or Give a Suggestion</a>
</h3>
<br>
<br>
</body>
</html>
